* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 56px;
    letter-spacing: normal;
}

::selection {
    color: var(--background);
    background: var(--primary-color)
}


:root {
    --primary-color: #000000;
    --background:#f2f4f8;
    --hover2:rgb(81, 130, 228);
    --text-color:#000000;
}




.dark {
    --primary-color: #ffffff;
    --background:#232121;
    --hover2:rgb(225, 225, 225);
    --text-color:#ffffff;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color:var(--background);
    color: var(--text-color);
    transition: .6s ease-in-out;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.switchmodes {
    display: flex;
    width: 25px;
    height: 25px;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 1rem;
}

.switchmodes i {
    display: none;
}

.switchmodes i.active {
    display: block;
    color: var(--primary-hover);
    cursor: pointer;
    font-size: 18px;
    
}

.dark header img,.dark .menu{
    filter: invert(1);
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    margin: 0;
    background-color:#d6d6d6;
    padding: 15px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 99;
}
.dark header{
    background-color:#0f0e0e;
    
} 

.logo {
    text-decoration: none;
    width: 80px;
    height:auto;
}

.logo img{
    width: 100%; 
    height: auto;
}

header .navbar {
    position: relative;
    z-index: 1;
}

header .navbar .navbar-collapse a {
    position: relative;
    font-weight: 400;
    text-decoration: none;
    margin-right: 15px;
    color: var(--text-color);
    transition: 0.5s ease;
}

header .navbar .navbar-collapse a::before {
    content: ' ';
    position: absolute;
    background: rgb(26, 72, 165);
    width: 0;
    height: 2px;
    bottom: -2px;
    border-radius: 10px;
    left: 0;
    transition: 0.5s ease;
}

header .navbar .navbar-collapse a:nth-child(even):before {
    content: ' ';
    position: absolute;
    background: rgb(26, 72, 165);
    width: 0;
    height: 2px;
    bottom: -2px;
    border-radius: 15px;
    left: 100%;
    transform: translate(-100%);
    transition: 0.8s ease;
}

header .navbar .navbar-collapse a:hover:before {
    width: 100%;
}
header .navbar .navbar-collapse a.active {
    color: var(--hover2);
    font-size: bold;
    transition: 0.5s ease-in-out;
}

/* header .navbar .navbar-collapse a:before {
    color: var(--primary-hover);
    width: 100%;
} */

header .navbar .navbar-collapse a:hover {
    color: var(--hover2);
}

.content {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-right: 2em;
}
p {
    margin-top: 15px;
    margin-bottom: 15px;
}
.text h1 {
    font-weight: bold;
    margin-bottom: .6em;
}

.get-started {
    margin-top: 1em;
    width: 100%;
    display: flex;
    font-weight: 500;
    flex-direction: row;
    gap: 2px;
}

.get-started input,
.get-started button {
    height: 47px;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 4px;
}

.dark .get-started input {
    background-color: #313235;
    color: var(--primary-color)
}

.get-started input {
    width: 75%;
    font-weight: 500;
    background-color: #e5e0e0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.get-started button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 25%;
    font-weight: 400;
    background-color: var(--primary-color);
    color: var(--background);
}

.image {
    width: 50%;
    margin: auto;
    align-items: center;
}

.image img {
    width: 100%;
    margin: auto;
    align-items: center;
}

.grid {
    margin: 0.4em;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.projects {
    width: 100%;
    align-items: center;
    padding: 2em;
    height: auto;

}

.section-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    text-decoration: underline;
    text-transform: capitalize;
}

.section-title h1 {
    text-transform: uppercase;
}

.section-projects {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1.3em;
}

.project-title {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    text-decoration: underline wavy;
}

.project-description {
    margin-bottom: 1.2em;
}

.project-link {
    width: 120px;
    height: 45px;
    display: flex;
    background-color: #a7a7a7;
    border-radius: 4px;
    margin-top: 1em;
    padding: 7px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-color);
    transition: .9s ease-in-out;
}
.dark .project-link{
    color: #000;
    background-color: #d6d6d6;
}
.project-link ion-icon {
    font-size: .8rem;
    margin-left: .3em;
    transition: .3s ease-in-out;
}

.project-link:hover ion-icon {
    margin-left: .5em;
    transition: .3s ease-in-out;
}

.project-link:hover {
    background-color: #8080f9;
    font-weight: var(--weight-4);
    transition: .3s ease-in-out;
}
.projects a:hover{
    text-decoration: none;
}
.about {
    width: 100%;
    height: auto;
    padding: .8rem;
}

.about .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 125px;
    gap: 12px;
}

.col {
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-1 {
    grid-row: span 4;
    z-index: 0;
}

.photo-1:hover .img-info,
.photo-2:hover .img-info,
.photo-3:hover .img-info,
.photo-4:hover .img-info,
.photo-5:hover .img-info,
.photo-6:hover .img-info,
.photo-7:hover .img-info,
.photo-8:hover .img-info {
    bottom: 5px;
    transition: 1s ease-in-out;
}

.img-info h2,
.img-info h4 {
    margin-bottom:2px;
    letter-spacing: .7px;display: flex;
    align-items: center;

}

.img-info p {
    border-left: 3px solid var(--background);
    padding-left: 4px;
    word-wrap: break-word;
}
.img-info {
    transition: 2s ease-in-out;
    position: absolute;
    border-radius:10px;
    bottom: -100%;
    height: auto;
    padding-bottom:10px;
    width: 96%;
    background-color: rgba(189, 189, 189, 0.719);
    padding: 10px;
    left: 50%;
    transform: translate(-50%);
    color: var(--primary-color);
}

.dark .img-info {
    background-color: rgba(0, 0, 0, 0.797);
}

.photo-2,
.photo-6,
.photo-7 {
    grid-row: span 3;
}

.photo-3,
.photo-4,
.photo-5 {
    grid-row: span 2;
}

.photo-8 {
    grid-row: span 2;
}

.col img {
    position: relative;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width:900px) {

    .project-link {
        font-size: 14px !important;
    }

    .content {
        display: flex;
        align-items: space-between;
    }

    .image {
        width: 50%;
        margin: auto;
        display: flex;
    }

    .image img {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .section-projects {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 1.3em;
        margin-top: 2em;
    }

    header {
        padding: 12px 40px;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        color: var(--primary-color);
        transform: scale(.9);
    }
    .image img {
        width: 100%;
        border-radius: 8px;
    }

    p {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .photo-1,
    .photo-2,
    .photo-3,
    .photo-4,
    .photo-5,
    .photo-6,
    .photo-7,
    .photo-8 {
        grid-row: span 4;
    }

    .photo-8{
        grid-row: span 2;
    }
    .photo-5,.photo-4{
        grid-row: span 3;
    }

    
}
@media (max-width:600px) {
    header {
        padding: 12px 40px;
    }

    header .navbar {
        display: none;
        transition: .5s ease-in-out;
    }

    header .navbar.active {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease;
        z-index: 99;
    }
    header .navbar .navbar-collapse {
        height: 100vh;
    }

    header .navbar .navbar-collapse a {
        color: var(--primary-color);
        margin: 20px;

    }

    .photo-1,
    .photo-2,
    .photo-3,
    .photo-4,
    .photo-5{
        grid-row: span 5;
    }
    .photo-2{
        grid-row: span 4;

    }
    .photo-6,
    .photo-7{
        grid-row: span 4;
    }
    .photo-8{
        grid-row: span 2;
    }
   .photo-5,.photo-4{
        grid-row: span 3;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    header .navbar .navbar-collapse a:hover {
        letter-spacing: 1px;
    }

    header .navbar .navbar-collapse a::before {
        background: var(--hover2);
        height: 3px;
        bottom: -5px;
    }

    header .navbar .navbar-collapse a:nth-child(even):before {
        background: var(--hover2);
        height: 3px;
        bottom: -5px;
    }

    header .navbar.active .navbar-collapse {
        background-color:#a2ace6;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        transition: 1s ease;
        z-index: 99;
    }

    .dark .navbar.active .navbar-collapse {
        background-color:#1d1e28;
        
    } 

    .menu {
        width: 25px;
        cursor: pointer;
        background: url(../images/Menu.svg)no-repeat;
        height: 25px;
        background-size: 25px;
        background-position: center;
        transition: .8s ease;
    }

    .menu.active {
        z-index: 999;
        background: url(../images/times.svg)no-repeat;
        background-size: 30px;
        background-position: center;
        transition: 1s ease;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .text {
        width: 100%;
        display: block;
        transform: scale(1);
    }

    .image {
        width: 100%;
        display: flex;
    }

    .image img {
        width: 100%;
        border-radius: 8px;
    }

    .projects {
        width: 100%;
        align-items: center;
        padding: 1em;

    }

    .section-title {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .section-title h1 {
        text-transform: uppercase;
    }

    .section-projects {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 1.3em;
    }

    .project-description {
        margin-bottom: 2em;
    }

    .project-link {
        height: 45px;
        width: 100px;
        position: relative;
        border-radius: 6px;
        margin-top: 1em;
        display: flex;
        align-items: center;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: var(--weight-4);
        transition: .5s ease;
    }

    .project-link:hover {
        background: #5e9aa9;
        color: var(--background);
        transition: .5s ease;
    }
}
@media (min-width:600px) {
    .about .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:900px) {
    .about .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
