* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 60px;

}

:root {
    --primary-color: #000000;
    --primary-hover:
    rgb(0, 34, 255);
    --background:
    rgb(194 202 246);
    --font-medium: 1.2em;
    --logo: 2.3em;
    --weight-4: 500;
    --hover2:
    rgb(55, 112, 226);
} 

.dark {
    --primary-color: #f0f6fd;
    --primary-hover:
    rgb(0, 34, 255);
    --background:
    rgb(21, 21, 21);
    --font-medium: 1.2em;
    --logo: 2.3em;
    --weight-4: 500;
    --hover2:
    rgb(63, 120, 177);
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--background);
    font-family: 'Kanit', sans-serif;
    color: var(--primary-color);
}

.switchmodes {
    display: flex;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 1.6rem;
}

.switchmodes img {
    display: none;
    transition: .6s ease-in-out;
}

.switchmodes img.active {
    display: block;
    cursor: pointer;
    transition: .6s ease-in-out;
}


.dark header img,
.dark header .menu {
    filter: invert(1);
}

header {
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Racing Sans One', cursive;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    background-color: var(--background);
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 99;
}

header .logo {
    text-decoration: none;
    font-size: var(--logo);
    font-weight: 500;
    color: var(--primary-color);
}

header .navbar {
    position: relative;
    z-index: 1;
}

header .navbar .navbar-collapse a {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-right: 15px;
    color: var(--primary-color);
    transition: 0.5s ease;
}

header .navbar .navbar-collapse a::before {
    content: ' ';
    position: absolute;
    background: rgb(26, 72, 165);
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    transition: 0.8s ease;
}

header .navbar .navbar-collapse a:hover:before {
    width: 100%;
}

header .navbar .navbar-collapse a:hover {
    color: var(--primary-hover);
}

.content {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    gap:30px;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin: auto;
    font-size: 1.2em;
}
.text h1{
    font-weight: bold;
}

.image {
    width: 50%;
    margin: auto;
    align-items: center;
}

.image img {
    width: 100%;
    margin: auto;
    align-items: center;
}

.grid {
    margin: 0.4em;
    font-size: 1.4em;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.social-icons a:hover {
    color: var(--hover2);
    transition: .7s ease;
}

.projects {
    width: 100%;
    align-items: center;
    padding: 2em;
    height: auto;

}

.section-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    text-decoration: underline;
    text-transform: capitalize;
}

.section-title h1 {
    font-size: 1.3em;
    text-transform: uppercase;
}

.section-title p {
    font-size: 1em;
}

.section-projects {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1.3em;
}

.project-title {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    text-decoration: underline wavy;
}

.project-description {
    margin-bottom: 2em;
}

.project-link {
    width: 130px;
    height: 50px;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 3px;
    margin-top: 1em;
    padding: 7px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background);
    font-weight: var(--weight-4);
    transition: .5s ease;
}
.project-link i,.project-link ion-icon{
    font-size: 1.4em;
    margin-left: .5em;
}

.project-link:hover i,.project-link:hover ion-icon{
    margin-left: .9em;
    transition:.5s ease-in-out;
}

.project-link:hover {
    background: #d0eaf1;
    color: var(--primary-hover);
    transition: .5s ease;
}

.blog {
    height: auto;
}

.blog-update {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about {
    width: 100%;
    height: auto;
    padding: 1.3rem;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.about-image{
    padding: 1px;
}
.about-image img{
    width: 100%;
    border-radius: 5px;
}


footer {
    padding: 10px;
    background: none;
    color: var(--primary-color);
    width: 100%;
    height: auto;
}

footer .fcontent {
    margin: 1em;
}

footer .icon i {
    font-size: 1.5em;
    margin-right: 15px;
}

footer .facebook,
.twitter,
.instagram,
.location,
.school {
    display: flex;
    padding: 5px;
    align-items: center;
}

.f-logo h4 {
    font-size: 1.5em;
    font-weight: 600;
}

footer a {
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    color: rgb(4, 20, 191);
}
.dark footer a{
    color:#9ffff7;
}
.dark footer a:hover{
    color:#c3fbff;
}

footer a:hover {
    transition: .3s ease-in-out;
    color: rgb(3, 2, 58);
}

footer .fcontent .f-ooter {
    justify-content: center;
}

.grid {
    font-size: 1.2em;
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(2, 1fr);
}

footer h5 {
    font-weight: 500;
    text-decoration: underline;
}

footer h6 {
    font-weight: 500;
}

footer span {
    transition: .4s ease-in-out;
}

footer span:hover {
    padding-right: 4px;
    transition: .4s ease-in-out;
}


@media (max-width:900px) {
    .content {
        display: flex;
        align-items: space-between;
    }

    .image {
        width: 50%;
        margin: auto;
        display: flex;
    }

    .image img {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .section-projects {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 1.3em;
        margin-top: 2em;
    }

    header {
        padding: 12px 50px;
    }

    .text {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        color: var(--primary-color);
        font-size: 1.2em;
        transform: scale(.8);
    }

    .text h1 {
        font-size: 1em;
    }

    .text p {
        font-size: .8em;
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-image{
        padding: 5px;
    }
    .about-image img{
        width: 100%;
        border-radius: 5px;
    }
}

@media (max-width:600px) {

    header {
        padding: 12px 60px;
    }

    header .navbar {
        display: none;
        transition: 1s ease-in;
    }

    header .navbar.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(5, 5, 10, .7);
        transition: 1s ease;
        z-index: 99;
    }
    header .navbar .navbar-collapse{
        height: 100vh;
    }

    header .navbar .navbar-collapse a {
        color: var(--primary-color);
        font-size: 1em;
        margin: 20px;

    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        font-size: 1em;
    }

    header .navbar .navbar-collapse a:hover {
        letter-spacing: 1px;
    }

    header .navbar .navbar-collapse a::before {
        background: var(--hover2);
        height: 2px;
        bottom: -2px;
    }

    header .navbar.active .navbar-collapse {
        background: var(--background);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        ;
        justify-content: space-around;
        box-shadow: 0 5px 25px rgb(1 1 1/20%);
        height: 100%;
        transition: 1s ease;
        z-index: 99;
    }

    .menu {
        width: 30px;
        cursor: pointer;
        background: url(../images/Menu.svg)no-repeat;
        height: 30px;
        background-size: 30px;
        background-position: center;
        transition: .8s ease;
    }

    .menu.active {
        z-index: 999;
        background: url(../images/times.svg)no-repeat;
        background-size: 30px;
        background-position: center;
        transition: 1s ease;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .text {
        width: 100%;
        margin-bottom: 1em;
        display: block;
        transform: scale(1);
    }

    .image {
        width: 100%;
        display: flex;
    }

    .image img {
        width: 100%;
    }

    .projects {
        width: 100%;
        align-items: center;
        padding: 1.3em;

    }

    .section-title {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2em;
    }

    .section-title h1 {
        font-size: 1.3em;
        text-transform: uppercase;
    }

    .section-title p {
        font-size: 1em;
    }

    .section-projects {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 1.3em;
    }

    .project-description {
        margin-bottom: 2em;
    }

    .project-link {
        width: 140px;
        position: relative;
        background-color: var(--primary-color);
        border-radius: 3px;
        margin-top: 1em;
        display: flex;
        font-size: 1em;
        justify-content:center;
        align-items:center;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--background);
        font-weight: var(--weight-4);
        transition: .5s ease;
    }

    .project-link:hover {
        background: #5e9aa9;
        color: var(--background);
        transition: .5s ease;
    }

    footer .fcontent {
        margin: .6em;
    }

    footer a {
        font-size: 8px;
    }
}
@media (max-width:450px){
    .about-content{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
    .about-image{
        padding: 5px;
    }
    .about-image img{
        width: 100%;
        border-radius: 5px;
    }
} 